* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #078c8e;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
}

 main {
  margin: 5% auto;
  padding: 3%;
  background-color: #F5F5F5;
  min-height: 500px;
  height: 70vh;
  min-width: 500px;
  width: 40vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}


.dice-grid {
  margin: auto;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}


.die {
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0, 15%);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
}

.die h2 {
  margin: auto;
  color: black;
  font-weight: 400;
}

.roll-button {
  width: 100px;
  margin: 20% auto;
  padding: 10px 15px;
  font-size: 1.3em;
  font-weight: 600;
  background-color: #5035FF;
  color: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
