* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #078c8e; */
  background-image: linear-gradient(hsl(252, 100%, 67%), hsla(241, 81%, 54%), hsla(256, 72%, 46%, 1));

  padding: 20px;
  height: 100vh;
  font-family: 'Karla', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

 main {
  padding: 5%;
  background-color: #f5f5f5c2;
  min-height: 500px;
  height: 70vh;
  min-width: 500px;
  width: 40vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

main h1 {
  color: #1c0d7d;
  margin: 3% auto;
}

main p {
  color: #1c0d7d;
  font-size: 1rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
}


.dice-grid {
  margin: auto;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}


.die {
  width: 60px;
  height: 60px;
  background-color: white;
  color: #1c0d7d;
  box-shadow: 0px 2px 5px rgba(0,0,0, 15%);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
}

.die h2 {
  margin: auto;
  font-weight: 400;
}

.roll-button {
  margin: auto;
  padding: 10px 25px;
  font-size: 1.3em;
  font-weight: 600;
  background-color: #5035FF;
  color: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
